body {
  /* background-color: #004466;  */
  background-color: #001f2e;
 
}


.wrapper {
  text-align: center;         /* centra il contenuto*/
  margin:auto;             /* centra il div (wrapper) */
  background-color: #7cc4e7;
}
#immagine {
  width: 200px;
  border-radius: 50%;
  border: 5px double #00e6e6;
  margin: 40px;
  }
  

#immagine {
  width: 30%;
}
